body{
    background-color: #D3D3D3;
}
header {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    font-size: 10px;
}
h {
    display: block;
    text-align: center;
    font-size: 25px;
    -webkit-text-stroke: 1px;
}
a {
    text-decoration: solid;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 50vw;
    float: right;
    border-radius: 30px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #6A6B83;
    border-radius: 40px;
    padding-left: 2px;
    margin: 2vw;
}
p{
    margin: 2vw;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-align: center;
}
p2{
    margin: 2vw;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}