h {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    font-size: 10px;
}
h2 {
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
    
}
a {
    text-decoration: solid;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 50vw;
    float: right;
    border-radius: 30px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(39, 39, 39);
    border-radius: 40px;
    padding-left: 2px;
}
