body{
    text-align: center;
    background-color: rgb(0, 85, 255);
}
header{
    background-color: rgb(0, 179, 255);
    color: white;
}
h1,h2,p{
    color: white;
    text-align: center;
    background-color: rgb(0, 179, 255);
}
#info{
    color: white;
}
#bilde{
    border: 10px solid transparent;
    border-radius: 10rem;
    
}
footer{
    background-color: rgb(0, 179, 255);
    color: white;
    padding-top: 5%;
    height: 3cm;
}
