body{
    text-align: center;
    background-color: rgb(0, 85, 255);
    font-family: "Lucida Console", "Courier New", monospace;
    

}
header{
    background-color: rgb(0, 179, 255);
    color: white;
    border-radius: 10rem;

}
h1,h2,p{
    color: white;
    text-align: center;
    background-color: rgb(0, 179, 255);
    border-radius: 10rem;

}
p{
    color: white;

}
#bilde{
    border: 10px solid transparent;
    border-radius: 10rem;
    
}
footer{
    background-color: rgb(0, 179, 255);
    color: white;
    padding-top: 5%;
    height: 3cm;
    border-radius: 10rem;

}
