h1, h2, h3, h4, h5, h6, p, div, footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
}
html, body {
    height: 100%;
    padding: 0%;
    margin: 0%;
}   

p {
    line-height: 1.4;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 1em;
}

.subtitle {
    text-decoration: underline;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex img {
    max-width: 40vw;
}

footer {
    position: absolute;
    bottom: 0;
}